In [114]:
import pandas as pd
from sklearn.metrics import confusion_matrix
import sklearn
import acquire as acq
import sklearn.metrics as skm
from sklearn.metrics import classification_report

2. Given the following confusion matrix, evaluate (by hand) the model's performance.

* In the context of this problem, what is a false positive? pred cat and actual dog
* In the context of this problem, what is a false negative? pred dog and actual cat
* How would you describe this model?

In [2]:
c3_df = pd.read_csv("c3.csv")

In [3]:
c3_df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

# Given the following confusion matrix, evaluate (by hand) the model's performance.

In [48]:
c3_crosstab = pd.crosstab(c3_df.actual, c3_df.model1)
# dog - positive 
# cat - negative
# TP predict dog got dog
tp=46
# TN predict cat got cat
tn=34
# FP predict dog got cat
fp=13
# FN predict cat got dog
fn=7

identify as many defected ducks as possible 
TP: predicted defected ducks got defected ducks
TN: predicted undefected ducks got undefected ducks
FN: predicted defected ducks got undefected ducks
FP: predicted undefected ducks got defected ducks

Higher cost FP

In [53]:
accuracy = (tp + tn) / (tp + tn + fp + fn)
precision = (tp) / (tp + fp)
recall = (tp) / (tp + fn)

accuracy,precision, recall

(0.8, 0.7796610169491526, 0.8679245283018868)

In [5]:
c3_crosstab

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [54]:
c3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   actual               200 non-null    object
 1   model1               200 non-null    object
 2   model2               200 non-null    object
 3   model3               200 non-null    object
 4   baseline_prediction  200 non-null    object
dtypes: object(5)
memory usage: 7.9+ KB

# An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case? metric: recall and model 3

In [ ]:
# defect = positive
# no defects = negative

In [57]:
subset = c3_df[c3_df.actual == "Defect"]

In [61]:
model1_recall = (subset.actual == subset.model1).mean()
model2_recall = (subset.actual == subset.model2).mean()
model3_recall = (subset.actual == subset.model3).mean()

In [63]:
model1_recall, model2_recall, model3_recall

(0.5, 0.5625, 0.8125)

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

* precision and model 1

In [67]:
subset = c3_df[c3_df.model1=="Defect"]

In [68]:
model1_precision = (subset.actual == subset.model1).mean()

In [69]:
subset2 = c3_df[c3_df.model2=="Defect"]

In [70]:
model2_precision = (subset2.actual == subset2.model2).mean()

In [71]:
subset3 = c3_df[c3_df.model3=="Defect"]

In [72]:
model3_precision = (subset3.actual == subset3.model3).mean()

In [73]:
model1_precision, model2_precision, model3_precision

(0.8, 0.1, 0.13131313131313133)

4. You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline? 
* model 1 and 4 perform better than baseline, the best model 1

b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
* precision  model 2

c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?
* recall model 4

In [27]:
paws = pd.read_csv("gives_you_paws.csv")

In [74]:
paws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   actual               5000 non-null   object
 1   model1               5000 non-null   object
 2   model2               5000 non-null   object
 3   model3               5000 non-null   object
 4   model4               5000 non-null   object
 5   baseline_prediction  5000 non-null   object
dtypes: object(6)
memory usage: 234.5+ KB

In [78]:
paws["baseline"] = paws.actual.value_counts().idxmax()

In [81]:
(paws.actual == paws.baseline).mean()

0.6508

In [85]:
(paws.actual == paws.model1).mean()

0.8074

In [84]:
(paws.actual == paws.model2).mean()

0.6304

In [83]:
(paws.actual == paws.model3).mean()

0.5096

In [82]:
(paws.actual == paws.model4).mean()

0.7426

In [86]:
paws.columns

Index(['actual', 'model1', 'model2', 'model3', 'model4', 'baseline_prediction',
       'baseline'],
      dtype='object')

In [91]:
# iterate through columns

model_acc = []

for model in paws[1:]:
    acc = (paws.actual == paws[model]).mean()
    model_acc.append([model, acc])

In [94]:
pd.DataFrame(model_acc, columns=["model", "accuracy"])

                 model  accuracy
0               actual    1.0000
1               model1    0.8074
2               model2    0.6304
3               model3    0.5096
4               model4    0.7426
5  baseline_prediction    0.6508
6             baseline    0.6508

In [95]:
subset = paws[paws.actual == "dog"]

In [96]:
subset

     actual model1 model2 model3 model4 baseline_prediction baseline
1       dog    dog    cat    cat    dog                 dog      dog
2       dog    cat    cat    cat    dog                 dog      dog
3       dog    dog    dog    cat    dog                 dog      dog
5       dog    dog    dog    dog    dog                 dog      dog
8       dog    dog    cat    dog    dog                 dog      dog
...     ...    ...    ...    ...    ...                 ...      ...
4993    dog    dog    cat    dog    dog                 dog      dog
4995    dog    dog    dog    dog    dog                 dog      dog
4996    dog    dog    cat    cat    dog                 dog      dog
4997    dog    cat    cat    dog    dog                 dog      dog
4999    dog    dog    dog    dog    dog                 dog      dog

[3254 rows x 7 columns]

In [98]:
# iterate through columns 

model_recall = []

for model in subset[1:]:
    recall = (subset.actual == subset[model]).mean()
    model_recall.append([model, recall])
model_recall

[['actual', 1.0],
 ['model1', 0.803318992009834],
 ['model2', 0.49078057775046097],
 ['model3', 0.5086047940995697],
 ['model4', 0.9557467732022127],
 ['baseline_prediction', 1.0],
 ['baseline', 1.0]]

In [88]:
paws_model1_acc = skm.accuracy_score(paws.actual, paws.model1)
paws_model2_acc = skm.accuracy_score(paws.actual, paws.model2)
paws_model3_acc = skm.accuracy_score(paws.actual, paws.model3)
paws_model4_acc = skm.accuracy_score(paws.actual, paws.model4)

In [38]:
paws_model1_acc, paws_model2_acc, paws_model3_acc, paws_model4_acc

(0.8074, 0.6304, 0.5096, 0.7426)

In [29]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [42]:
# baseline prediction
paws["baseline_prediction"] = "dog"

In [46]:
(paws.actual==paws.baseline_prediction).mean()

0.6508

In [101]:
subset1 = paws[paws.model1 == "dog"]
subset2 = paws[paws.model2 == "dog"]
subset3 = paws[paws.model3 == "dog"]
subset4 = paws[paws.model4 == "dog"]

In [104]:
# iterate through columns 

(subset1.actual == subset1.model1).mean()

0.8031977427698096

In [108]:
(subset2.actual == subset2.model2).mean()

0.8931767337807607

In [109]:
(subset3.actual == subset3.model3).mean()

0.6598883572567783

In [110]:
(subset4.actual == subset4.model4).mean()

0.7312485304490948

# c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?
* recall model 4

cat = positive

dog= negative

In [111]:
model_prec = []

for model in paws.columns[1:]:
    subset = paws[paws[model] == "cat"]
    precision = (subset.actual == subset[model]).mean()
    model_prec.append([model, precision])

In [112]:
model_prec

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline_prediction', nan],
 ['baseline', nan]]

In [115]:
pd.DataFrame(classification_report(paws.actual, paws.model1, labels= ["cat", "dog"], output_dict=True)).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000